

.tracos {
  font-size: 28px;
  font-family: "Comfortaa", cursive;
  letter-spacing: 8px;
}
.acertou {
  font-size: 28px;
  font-family: "Comfortaa", cursive;
  letter-spacing: 8px;
  color: green;
}
.errou {
  font-size: 28px;
  font-family: "Comfortaa", cursive;
  letter-spacing: 8px;
  color: red;
}

.letra-hab {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(194, 249, 253);
  color: rgb(14, 98, 104);
  border-color: rgb(14, 98, 104);
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  width: 40px;
  height: 40px;
}

.letra-hab:hover {
  cursor: pointer;
  background-color: rgb(134, 196, 201);
}

.input-desab {
  width: 260px;
  height: 35px;
  border-radius: 8px;
  border-color: grey;
  border-width: 1px;
  pointer-events: none;
  outline: none;
  text-indent: -9999px;
}

.input-hab {
  width: 260px;
  height: 35px;
  border-radius: 8px;
  font-family: "Comfortaa", cursive;
}